.dps-handle {
    -webkit-app-region: drag;
    gap: 8px;
    margin: 2px;
    min-width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 1px solid #eee1;
}

.dps-header {
    border-bottom: 1px solid #eee2;
}

.btn-span {
    color: #aaa;
}

body:not(.locked) .btn-span:hover {
    color: #eee;
    cursor: pointer;
}

body:not(.locked) .btn-close:hover {
    color: red;
}

select {
    height: 100%;
    border: none;
    font-weight: bold;
    background: none;
}

option {
    color: #aaa;
    font-weight: bold;
    background-color: #222;
}

option:checked {
    color: #eee;
    background-color: #444;
}