.rank-bar {
    width: calc(100% - 12px);
    position: relative;
    gap: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 -1px 0 0 #eee2;
}

.rank-bar::before {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
    position: absolute;
    width: var(--fill);
    background: var(--color);
    transition: width 1s;
}

.rank-col {
    display: flex;
    flex-direction: column;
}

.rank-bar div {
    z-index: 1;
    text-align: right;
}

.rank-img-spec {
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    filter: drop-shadow(1px 1px 2px black);
}

.rank-hp-bar-bg {
    position: relative;
    text-align: left;
    font-size: 10pt;
    height: 16px;
    width: 120px;
    margin-top: 4px;
    border-radius: 16px;
    background-color: #1114;
}

.rank-hp-bar-fg {
    position: absolute;
    height: 100%;
    border-radius: 16px;
    transition: width 1s;
}

.rank-hp-bar-bg span {
    top: -2px;
    left: 0;
    height: 100%;
    padding-left: 4px;
    position: absolute;
    text-shadow: 1px 1px 1px #1118;
    z-index: 2;
}